@font-face {
  font-family: "avenir";
  src: url(../app/resources/avenir_sv/font/AvenirLTStd-Book.otf)
    format("opentype");
  src: url(../app/resources/avenir_sv/font/AvenirLTStd-Medium.otf)
    format("opentype");
  src: url(../app/resources/avenir_sv/font/AvenirLTStd-Roman.otf)
    format("opentype");
}
