@import "variables.scss";
@import "avenir-font.scss";

.burger-icon {
  width: 5rem;
  height: 5rem;
}
.c-nav-button {
  height: 5rem;
  width: 5rem;
  margin-bottom: 5rem;
  cursor: pointer;
}
.c-burger-menu__inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  padding-top: 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: 10vw;
  max-width: 20rem;
  background-color: $items;
  transform: translateX(-100%);
  transition: all 200ms ease-in-out;
  color: $paratext;
  list-style: none;
}

.c-burger-menu__inner--active {
  transform: translateX(0%);
}
.c-burger-menu__inner li:hover {
  color: $maintext;
}
