@import "variables.scss";

.c-svg__check {
  fill: #fff;
}
.c-list-item {
  top: 5rem;
  position: relative;
  list-style: none;
  &__input {
    height: 100%;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 6rem;
    &--custom {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      width: 5rem;
      padding: auto;
      background-color: transparent;
      border-radius: 100rem;
      border: 0.25rem solid $clr-approved;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }
    &--custom::after {
      position: absolute;
      content: "";
      border: solid $clr-approved;
      border-width: 0;
    }
    &--checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    &--checkbox:checked ~ &--custom {
      background: $clr-approved;
    }
  }
}
