@import "variables.scss";

.c-header {
  margin: 10rem auto 0 auto;
  width: 25%;
  &--title {
    color: $blackSqueeze;
    font-size: 4rem;
  }
  &--para {
    color: $stormGray;
    font-size: 2rem;
  }
}
