@import "variables.scss";

.c-nav {
  cursor: pointer;
  position: fixed;
  color: $stormGray;
  font-size: 2.5rem;
  border-radius: 3rem;
  height: 7.4rem;
  &:hover {
    box-shadow: 0 0 1.5rem rgba(252, 254, 254, 0.75);
  }
  &__list {
    position: fixed;
    left: 0;
    transform: translateX(-110%);
    width: 50rem;
    position: absolute;
    background-color: $brightGray;
    transition: all 200ms ease-in-out;
    border-radius: 3rem;
    &--item {
      list-style: none;
      &:hover {
        color: $blackSqueeze;
        text-decoration: underline;
      }
    }
    &--active {
      transform: translateX(0%);
    }
  }
}
