@import "variables.scss";

.c-nav {
  display: flex;
  flex-direction: column;
  color: $stormGray;
  &__button {
    cursor: pointer;
    position: fixed;
    font-size: 2.5rem;
    border-radius: 3rem;
    height: 10rem;
    width: 10rem;
    &:hover {
      box-shadow: 0 0 1.5rem rgba(252, 254, 254, 0.75);
    }
  }

  &__list {
    top: 12rem;
    left: 0;
    transform: translateX(-110%);
    width: 50rem;
    position: absolute;
    background-color: $brightGray;
    transition: all 200ms ease-in-out;
    border-radius: 3rem;
    &--item {
      cursor: pointer;
      &:hover {
        color: $blackSqueeze;
        text-decoration: underline;
      }
    }
    &--active {
      transform: translateX(0%);
    }
  }
}
