@import "variables.scss";

.c-project {
  &__container {
    width: 100%;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    &.c-content--left-justify {
      width: 50%;
    }
    &--body {
      width: 50rem;
      max-width: 50%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      transition: all 300ms ease-in-out;
    }
    &--list {
      width: 50%;
      min-height: 10rem;
      background-color: $blackSqueeze;
      padding: 2rem;
      position: absolute;
      top: 1rem;
      margin-top: 1rem;
      right: 0;
      transform: translateX(110%);
      transition: all 300ms ease-in-out;
      border-radius: 2rem;
      &.c-content--left-justify {
        top: 1rem;
        right: 2rem;
        transform: translateX(0);
      }
    }
  }
}
