@import "variables.scss";

.c-project {
  &-container {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &--icon {
    min-width: 11.5rem;
    max-width: 20rem;
    height: 12rem;
    border: none;
    border-radius: 1.7rem;
    cursor: pointer;
    outline: none;
  }
}
.c-icon-container {
  list-style: none;
  text-align: center;
  color: $clr-para-text;
  cursor: pointer;
  width: 100%;
  flex-basis: 33%;
  &:hover {
    color: $clr-main-text;
  }
  &:hover .c-project--icon {
    box-shadow: 0 0 2rem rgba(149, 149, 149, 0.5);
  }
}
