@import "variables.scss";
@import "aveneir.scss";
@import "utilities.scss";

html {
  font-size: 10px;
  font-family: "aveneir", sans-serif;
  background-color: $ebonyClay;
}
* {
  box-sizing: border-box;
  outline: none;
}
h1 {
  color: $blackSqueeze;
}
body {
  font-size: 1.6rem;
  overflow: hidden;
  width: 100%;
}
ul {
  list-style: none;
}
.c-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p {
  margin: 0;
}
p::first-letter {
  text-transform: uppercase;
}
select {
  -webkit-appearance: none;
}
