@import "variables.scss";
@import "aveneir.scss";
@import "utilities.scss";

html {
  font-size: 10px;
  font-family: "aveneir", sans-serif;
  background-color: $ebonyClay;
}

body {
  font-size: 1.6rem;
}

.c-container {
  display: flex;
  justify-content: center;
}
