@import "variables.scss";
@import "aveneir.scss";

.c-search-bar {
  height: 5rem;
  background-color: $clr-items;
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  padding-left: 2rem;
  cursor: pointer;
  &__button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 3rem;
    padding: 0;
    margin-right: 0.5rem;
    &--svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    color: $clr-para-text;
    &::placeholder {
      color: $clr-para-text;
      font-size: 2rem;
    }
  }
}
