@import "resets.scss";
@import "variables.scss";
@import "utilities.scss";
@import "burger-menu.scss";
@import "searchBar.scss";
@import "projectIcons.scss";
@import "avenir-font.scss";
@import "list-item.scss";
@import "add-project-icon.scss";
@import "add-project-popup.scss";

.container {
  padding: 3rem;
}

.c-main {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
  z-index: 0;
  &--shift-left {
    transform: translateX(-60%);
  }
}

.c-header-text {
  margin: 0 auto;
  padding-bottom: 5rem;
}

.c-project-info {
  position: absolute;
  margin-bottom: 2rem;
  top: 2rem;
  right: 0;
  height: 0;
  width: 0;
  border-radius: 3rem;
  background-color: $projectbackground;
  transition: all 200ms ease-in-out;
  transform: translateX(100%);
  &--active {
    height: 100%;
    width: 50%;
    transform: translateX(-2.5%);
  }
}
