$ebonyClay: #252a41;
$blackSqueeze: #fcfefe;
$brightGray: #3b3f54;
$usedRed: #f64a4a;

$pink1: #f83bc8;
$pink2: #fa2e89;
$green1: #2dd6a1;
$green2: #3971e5;
$purple1: #be68d5;
$purple2: #643dbc;
$blue1: #7144e0;
$blue2: #2dbbef;
$orange1: #f8be73;
$orange2: #ec6f62;

$turquoise: #35d8d8;
$iceberg: #e0f5f5;
$solitude: #e3effe;
$danube: #6492c9;
$athensGray: #ebecee;
$osloGray: #818893;
$stormGray: #6a6e81;
$cardtitle: #232535;
$manatee: #93959b;
$white: #fefefe;

$approvedText: #52abab;
$approvedContainer: #e0f5f5;
$inReview: #fbece7;
$inReviewText: #d6a292;
$waitingContainer: #ebecee;
$waitingText: #818893;
$inProgressText: #6492c9;
$inProgress: #e3effe;
