$background: #252a41;
$maintext: #fcfefe;
$items: #3b3f54;
$pink: #f936ae;
$green: #339fc7;
$purple: #7a49c2;
$blue: #635eef;
$orange: #ef8668;
$approved: #35d8d8;
$approvedtext: #e0f5f5;
$inprogress: #e3effe;
$inprogresstext: #6492c9;
$inreview: #fbece7;
$inreviewtext: #d6a292;
$waiting: #ebecee;
$waitingtext: #818893;
$paratext: #6a6e81;
$cardtitle: #232535;
$cardbext: #93959b;
$projectbackground: #fefefe;
