$background: #252a41;
$clr-main-text: #fcfefe;
$clr-items: #3b3f54;

$pink1: #f83bc8;
$pink2: #fa2e89;
$green1: #2dd6a1;
$green2: #3971e5;
$purple1: #be68d5;
$purple2: #643dbc;
$blue1: #7144e0;
$blue2: #2dbbef;
$orange1: #f8be73;
$orange2: #ec6f62;

$clr-approved: #35d8d8;
$clr-approvedtext: #e0f5f5;
$inprogress: #e3effe;
$inprogresstext: #6492c9;
$inreview: #fbece7;
$inreviewtext: #d6a292;
$clr-waiting-: #ebecee;
$clr-waiting-text: #818893;
$clr-para-text: #6a6e81;
$cardtitle: #232535;
$clr-card-text: #93959b;
$projectbackground: #fefefe;
